@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

@theme{

  --font-nunito: Nunito Sans, "sans-serif";
  --color-p-dark-blue: #25367B;
  --color-s-dark-blue: #233971;
  --color-s-light-blue: #45CDDC;
  --color-s-lighter-blue: #2EBED9;
  --color-t-shade-blue: #434B8C;
  --color-t-dark-blue: #192865;
  --color-f-light-grey: #A7A6C5;
  --color-f-light-orange: #F8D068;
  --color-d-light-red: #D66060;

  

  --text-large: 2.5rem;       /* 40px */

  --spacing: 1px;

}

html,
body {
  font-family: var(--font-nunito);
  color: #ffffff;
  background-color: var(--color-p-dark-blue);
}

input[data-autocompleted] {
    background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 0s, color 0s 0s;
    transition-delay: calc(infinity * 1s);
}